

$palette-mint-green: 	#A7CCBB;
$palette-blue-grey: 	#ABAFB0;
$palette-dark-grey: 	#1E1D1C;
$palette-red: 	        #ED2D25;
$palette-off-white: 	#FEFEFE;
$palette-light-pink: 	#F2C3BD;
$palette-light-yellow: 	#EEDE85;


/*
 * TEXT
 */
$title-colour:          $palette-dark-grey;
$font-colour:           $palette-dark-grey;
$link-colour:           $palette-dark-grey;


/*
 * BACKGROUNDS
 */
$header-bg:             $palette-off-white;
$header-border:         $palette-mint-green;



/*
 * NAV
 */
$nav-dividers:          $palette-light-pink;