$palette-off-white: #ECECEC;
$palette-blue-grey: #0E1A2B;
$palette-big-pink: #9A10A4;
$palette-royal-purple: #844ED4;
$palette-mid-green: #29601C;


$title-colour: $palette-blue-grey;
$font-colour: $palette-blue-grey;
$header-bg: $palette-off-white;
$nav-dividers: $palette-big-pink;