@import "_variables";

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    background-color: $home-page-bg;
}

h1, h2, h3, h4 {
    font-family: 'Tangerine', Arial, Helvetica, sans-serif;
}

h1 { font-size: 30pt; }
h2 { font-size: 25pt; }
h3 { font-size: 20pt; }
h4 { font-size: 15pt; }

a {
    text-decoration: none;
    color: $link-colour;
}


.content {
    overflow: hidden;
}

.centered-content {
    padding: 20px;
    margin: 0 auto;
    max-width: 960px;
    background-color: white;
    box-shadow: 0px 0px 31px -6px black;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
}

.centered-text {
    text-align: center;
}

.counter {
    display: none;
}

.page {
    height: 100%;
    &__accomodation { background-color: $accomodation-page-bg; }
    &__media        { background-color: $media-page-bg; }
    &__contact      { background-color: $contact-page-bg; }
    &__venue        { background-color: $venue-page-bg; }
}
