@import "_variables";

.google-map{
    &__container {
        position: relative;
        padding-bottom: 25%; // This is the aspect ratio
        height: 0;
        overflow: hidden;

        @media screen and (max-width: $tablet-breakpoint) {
            padding-bottom: 75%; // This is the aspect ratio
        }
    }
    &__iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }
}