@import "_variables";

.header {
    background: $header-bg;
    border-bottom: 3px solid $header-border;
    margin-bottom: 1.45rem;
    padding: 0;
    position: fixed;
    position: sticky;
    overflow: hidden;
    top: 0;
    z-index: 100;

    &__title-container {
        margin: 0 auto;
        max-width: 960px;
        padding: 1.45rem 1.0875rem;

        h1 {
            color: $title-colour;
            text-decoration: none;
            display: inline-block;
            margin: 10px 0;
        }

        @media screen and (max-width: $tablet-breakpoint) {
            width: 100%;
            padding: 0;
            margin: 0;
            h1 {
                width: 100%;
                text-align: center;
                margin: 15px 0;
            }
        }
    }
    &__nav {
        float: right;
        margin: 0;

        &-item {
            list-style: none;
            float: right;
            padding: 20px;
        }

        @media screen and (max-width: $tablet-breakpoint) {
            display: block;
            width: 100%;
            margin: 0 auto;

            &-item {
                width: 22%;
                padding: 1%;
                height: 3em;
                text-align: center;
            }
        }
    }
}
.header__nav-item + .header__nav-item {
    border-right: 1px solid $nav-dividers;
}
