.header {
  background: rebeccapurple;
  margin-bottom: 1.45rem;
}
.header__title-container {
  margin: 0 auto;
  max-width: 960px;
  padding: 1.45rem 1.0875rem;
}
.header__title-container h1 {
  color: 'white';
  text-decoration: none;
}